{% extends 'base.html' %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Notre histoire, votre confiance...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">...Un avenir partagé</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
<p align="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut velit vitae ante facilisis efficitur vitae ac augue. Cras rhoncus eget eros eu porta. Aliquam nec nunc condimentum, viverra nisl vitae, egestas velit. Pellentesque ut velit commodo, luctus neque eu, volutpat libero. Suspendisse potenti. Sed non eleifend metus. Quisque nisi tellus, consectetur a dictum eget, ultricies sed justo. Vestibulum pretium aliquam erat, ut facilisis purus dignissim vel. Aliquam eu accumsan purus.
<br/><br/>
Vivamus finibus risus ac mi tristique venenatis. Curabitur facilisis nisl condimentum arcu hendrerit auctor. Cras eu eros ultricies, pretium neque et, rutrum erat. Phasellus pellentesque eros at blandit placerat. Nunc pellentesque arcu sed lacinia scelerisque. Nulla lacinia vulputate quam sed aliquet. Vivamus at euismod felis, sit amet accumsan sem. Praesent eget posuere lorem. Quisque tortor nisi, posuere vitae dolor eget, aliquam fermentum justo. Proin sagittis, lorem quis ultrices porta, turpis odio venenatis sapien, eu consectetur ligula ipsum sit amet nibh.
    <br/><br/>    
Donec nulla lacus, porttitor eget leo at, tristique tempor sapien. Nulla non ligula lectus. Donec eu lorem viverra, vehicula augue vel, aliquet leo. Donec id condimentum diam, nec convallis arcu. Sed fringilla malesuada odio ultrices tristique. Curabitur facilisis tellus sed libero molestie, in fringilla mauris bibendum. Quisque placerat erat eu orci finibus, vel pretium sapien fermentum. Donec ultrices quis magna at tempor. Morbi sit amet ex lacinia, condimentum elit faucibus, volutpat ipsum. Phasellus lacus magna, tincidunt eleifend lectus et, blandit tincidunt leo.
</p>
<br/><br/>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}